doctype
html
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel="stylesheet" href="/main.css")
    script(src="./javascript/jquery-3.2.1.min.js")
  body
    != yield