main
  div.article-container.col-7-10
    div.article
      div.images.col-4-10
        img(src="https://placehold.jp/240x150.png")
        img(src="https://placehold.jp/240x150.png")
      
      div.description.col-6-10
        img.profile-img(src="https://placehold.jp/64x64.png")
        h2 Xeonia Pantheon
        span Restaurant de grand skyfall
        p 
          |落ち着ける雰囲気でデートや一対一のお食事にとても適していると思います。
          br
          br
          | 今回はボジョレー・ヌーヴォーとマリネサラダを頂きましたが、とても美味しく、言葉も出ませんでした。
          br
          br
          | とてもおすすめします。
    
    div.article
      div.images.col-4-10
        img(src="https://placehold.jp/240x150.png")
        img(src="https://placehold.jp/240x150.png")
      
      div.description.col-6-10
        img.profile-img(src="https://placehold.jp/64x64.png")
        h2 Xeonia Pantheon
        span Restaurant de grand skyfall
        p 
          |落ち着ける雰囲気でデートや一対一のお食事にとても適していると思います。
          br
          br
          | 今回はボジョレー・ヌーヴォーとマリネサラダを頂きましたが、とても美味しく、言葉も出ませんでした。
          br
          br
          | とてもおすすめします。

    div.article
      div.images.col-4-10
        img(src="https://placehold.jp/240x150.png")
        img(src="https://placehold.jp/240x150.png")
      
      div.description.col-6-10
        img.profile-img(src="https://placehold.jp/64x64.png")
        h2 Xeonia Pantheon
        span Restaurant de grand skyfall
        p 
          |落ち着ける雰囲気でデートや一対一のお食事にとても適していると思います。
          br
          br
          | 今回はボジョレー・ヌーヴォーとマリネサラダを頂きましたが、とても美味しく、言葉も出ませんでした。
          br
          br
          | とてもおすすめします。

    div.article
      div.images.col-4-10
        img(src="https://placehold.jp/240x150.png")
        img(src="https://placehold.jp/240x150.png")
      
      div.description.col-6-10
        img.profile-img(src="https://placehold.jp/64x64.png")
        h2 Xeonia Pantheon
        span Restaurant de grand skyfall
        p 
          |落ち着ける雰囲気でデートや一対一のお食事にとても適していると思います。
          br
          br
          | 今回はボジョレー・ヌーヴォーとマリネサラダを頂きましたが、とても美味しく、言葉も出ませんでした。
          br
          br
          | とてもおすすめします。
    
      
      
  div.sidebar.col-3-10
    div.user-profile
      img.profile-img(src="https://placehold.jp/64x64.png")
      h2 Hirokazu Degawa
      
    hr
    span.subtitle おすすめのシェフ
    
    div.user-profile
      img.profile-img(src="https://placehold.jp/64x64.png")
      h2 Hirokazu Degawa
      
    div.user-profile
      img.profile-img(src="https://placehold.jp/64x64.png")
      h2 Hirokazu Degawa
      
    div.user-profile
      img.profile-img(src="https://placehold.jp/64x64.png")
      h2 Hirokazu Degawa
      
    div.user-profile
      img.profile-img(src="https://placehold.jp/64x64.png")
      h2 Hirokazu Degawa
      
    hr
    span.information
      a(href="#") Chefdeliについて
      | ・
      a(href="#") ブログ
      | ・
      a(href="#") 開発言語
      | ・
      a(href="#") 開発者
      | ・
      a(href="#") 求人
  
  
script(src="./main.js")
