@import "partial/components";
@import "partial/option";

body{
  margin: 0px;
  
  main{
    position: relative;
    display: block;
    margin: 0px auto;
    box-sizing: border-box;
    padding-top: 40px;
    max-width: $break-large;
    
    *{
      font-family: $base-font;
      color: #111;
    }
    
    .article-container{      
      *{
        vertical-align: top;
      }
      
      .article{
        box-shadow: 0px 5px 7px rgba(117, 117, 117, 0.26);
        box-sizing: border-box;
        margin-bottom: 40px;
        padding: 30px;
        width: 100%;
        
        .images{
          img{
            display: inline-block;
            width: 240px;
            height: 150px;
            object-fit: cover;
          }
        }
        
        .description{
          box-sizing: border-box;
          padding-left: 30px;
          
          img{
            height: 64px;
            width: 64px;
            object-fit: cover;
          }
          
          h2{
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            padding-left: 10px;
            font-weight: 300;
            font-size: 1.4em;
            margin: 0;
            line-height: 64px;
          }
          
          span{
            display: block;
            margin: 10px 0 20px 0;
            color: #757575;
            font-weight: 200;
            font-size: 0.9em;
          }
          
          p{
            line-height: 1.7em;
            font-size: 0.9em;
            
            br{
              margin: 1em 0;
              height: 0 !important;
              width: 0 !important;
            }
          }
        }
      }
    }
    .sidebar{
      position: fixed;
      vertical-align: top;
      box-sizing: border-box;
      padding-left: 30px;
      
      *{
        vertical-align: top;
      }
      
      .user-profile{
        margin-bottom: 20px;
        
        img{
          height: 64px;
          width: 64px;
          object-fit: cover;
        }

        h2{
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          padding-left: 10px;
          font-weight: 300;
          font-size: 1.1em;
          margin: 0;
          line-height: 64px;
        }
      }
      
      hr{
        border: none;
        height: 1px;
        width: 100%;
        box-sizing: border-box;
        margin-top: 20px;
        padding: 0 10%;
        background-color: #e8e8e8;
      }
      
      .subtitle{
        display: block;
        margin: 20px 0 20px 0;
        font-weight: bold;
        font-size: 0.8em;
      }
      
      .information{
        color: #555;
        font-size: 0.7em;
        
        a{
          text-decoration: none;
        }
      }
    }
  }
}